@font-face
{
    font-family: fontawesome-solid;
    src: url(../webfonts/fa-solid-900.ttf);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.logo
{
    --space: 20px;
    position: fixed;
    top: var(--space);
    left: var(--space);
    width: 50px;
    user-select: none;
}
svg
{
    width: 100%;
    height: auto;
}
#bg-canvas
{
    background: rgb(91, 188, 147);
}
#play-btn-after
{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: flex;
    position: absolute;
    width: 150px;
    height: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background: rgb(134,227,0);
    border: none;
    color: #ffffff;
}
#play-btn-before
{
    --top-space: calc(50% + 10px );
    content: "";
    display: flex;
    position: absolute;
    width: 150px;
    height: 96px;
    background: rgb(104,176,0);
    top: var(--top-space);
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: none;
}
button:hover
{
    cursor: pointer;
}
button:focus
{
    outline: none;
}
@keyframes click-button
{
    0%
    {
        top: 50%;
    }
    50% 
    {
        top: calc(50% + 5px );
    }
    100%
    {
        top: 50%;
    }
}
.button-bg-change
{
    position: absolute;
    bottom: 84px;
    left: 20px;
}
.button-bg-change button
{
    position: absolute;
}
.button-bg-change button:hover
{  
    bottom: 0px;
}
.button-bg-change button:nth-child(1)
{
    left:60px;
}
.button-bg-change button:nth-child(2)
{
    left:50px;
}
.button-bg-change button:nth-child(3)
{
    left:40px;
}
.button-bg-change button:nth-child(4)
{
    left:30px;
}
.button-bg-change button:nth-child(5)
{
    left:20px;
}
.button-bg-change button:nth-child(6)
{
    left:10px;
}
.button-bg-change button:nth-child(7)
{
    left:0;
}
@keyframes bg-run
{
    100%
    {
        background-position-y: 64px;
    }
}